@import url('http://fonts.cdnfonts.com/css/new-super-mario-font-u');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 15px;
}

.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1145px;
    min-height: 680px;
    background-image: url(../img/PovRayMan-Mario3-3-1600x1200.png.crdownload);
    background-size: contain;
}

.float-left{
    float: left;
}


.title{
    color: #873f07;
    margin-top: 2rem;
    padding-top: 3rem;
    font-size: 3rem;
    text-align: center;
}

div.col{
    margin: 3rem 1.5rem 0rem;
    background-color: #ffffff3b;
    color: #ffffff;
    width: calc((100% / 3) - 3rem);
}

div.col>img{
    height: 5.73rem;
    margin-right: .5rem;
}

div.card-content{
    padding: .80rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

div.card-content h2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

div.card-content p{
    margin-bottom: .25rem;
}