@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

h1{
    padding-top: 100px;
    font-size: 6rem;
    text-align: center;
    color: #e53170;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

#sub-title{
    padding-top: 100px;
    font-size: 3rem;
    text-align: center;
}

.img-container::after{
    content: "";
    display: table;
    clear: both;;
}

.img-container{
    margin-top: 100px;
}

img{
    width: 220px;
    float: left;
}

.float-left{
    margin: 10px;
    background-color: #dfdad3;
    float: left;
    width: calc(100% / 3 - 20px);
}

.container{
    width: 70%;
    margin: auto;
    background-color: #53adc9;
}

