@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
}

.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1145px;
    min-height: 680px;
}

.float-left{
    float: left;
}


.title{
    color: rgb(144, 7, 185);
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

#sub-title{
    margin-top: 2.5em;
    text-align: center;
}

div.col{
    margin: 3rem 1.5rem 0rem;
    background-color: rgb(5, 5, 32);
    color: white;
    width: calc((100% / 3) - 3rem);
}

div.col>img{
    height: 6rem;
    margin-right: .5rem;
}

div.card-content{
    padding: .80rem;
}

div.card-content h2{
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

div.card-content p{
    margin-bottom: .25rem;
}